* {
  margin: 0;
  padding: 0;
}
#navBar {
    display: grid;
    grid-template-columns: 20% 50% 10% 10% 10%;
    width: 100%;
    margin: 0;
    background-color: white;
}
  
#navBar .navLogo img{
  height: 100%;

}

.material-icons {
  color: black;
}


#navBar .navUploadImg img{
  height: 35px;
  
}

#navBar button {
  background-color: "#157AC6";
  color: white; 
}

.navSearch {
  align-self: center;
}

.navSearch div {
  display: grid;
  grid-template-columns: 80% 20%;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  align-items: center;

}

.navSearch input {
  padding: 2px 6px;
  font-size: 16px;
  border: none;
  align-self: center;
  width: 100%;
  height: 100%;
}

.navSearch button{
  align-self: center;
  height: 100%;

}


  
/* #navBar  li a {
    
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
#navBarli a:hover {
    background-color: #111;
  } */

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
footer  li {
    float: left;
  }
  
footer  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
footer a:hover {
    background-color: #111;
  }