
/* -------------------------------------------------- All document ------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  background-color: #F8F8F8;
  padding: 0px 0px 100px;
}


/* -------------------------------------------------- Navbar ------------------------------------------------------ */
.navBar {
    display: flex;
    padding: 5px 3%;
    background-color: white;
    justify-items: center;
    justify-content: space-around;
}
.navLogo {
  margin-right: -35px;
  display: flex;
  align-items: center;

}

.navLogo img{
  height: 50px;
  width: 200px;
}


.navLogo span {
  margin-right: 30px;
}

.navBar .navUploadImg img{
  height: 35px;
}

.navBar button {
  background-color: "#157AC6";
  color: white; 
}

.navSearch {
  width: 70%;
  display: grid;
  align-items: center;
  grid-template-columns: 90% 10%;
  grid-template-rows: 100%;
 
}

.navSearchInput{
  height: 30px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: lightgrey;
}

.button {
  height: 30px;
  width: 100px;
  background-color: #F8F8F8;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: lightgrey;
  
}

.button span{
  margin: 2% 37%;
  color: #9F9F9F;
}

.navSearch input {
  padding: 0;
  font-size: 16px;
  border: none;
  width: 100%;
  height: 100%;
}

.navSearch input::placeholder{
  padding: 2px 6px;
}

.navSearch button{
  height: 100%;
}

.navUploadImg {
  position: relative;
  text-justify: center;
  margin-right: 0px;
  margin-left: -50px;
}

.navUploadImg img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

}

.navButton {
  position: relative;
}

.navButton button{
  font-weight: bold;
  background-color: #157AC6;
  height: 2rem;
  width: 4rem;
  border-width: 1px;
  border-top-left-radius: 2px 2px;
  border-top-right-radius: 2px 2px;
  border-bottom-right-radius: 2px 2px;
  border-bottom-left-radius: 2px 2px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav-profile {
  position: relative;
}

.nav-profile span {
  font-size: 35px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #157AC6;

}


/* -------------------------------------------------- Main Section ------------------------------------------------------ */
#bigContainer {
  display: flex;
  margin: 2% 0% 2% 0%;
  background-color: #F8F8F8;
  align-items: flex-start;
}

/* ----------------------- Video Section ----------------------------- */
.videoSection {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 0.5%;
}

/* ------------- Video --------------- */

.video {
  display: inline-block;
}
.video iframe{
  width: 100%;
  height: 639px;
}

/* ------------- Stat --------------- */
.information {
  background-color: white;
  padding: 15px 15px 5px 15px;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
}

.profile p{
  color: rgb(128, 128, 128);
}

.profile-stats{
  display: flex;
  padding: 5px 0px 5px 0px; 
}

.profile-img {
  display: flex;
  flex-direction:column;
  align-items: flex-end;
}

.profile-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
}
.functions {
  display: flex;
  justify-content: space-between;
  margin: 2% 0%;
}

.channel-button {
  background-color: red;
  color: white;
  align-items: center;
  justify-content: space-around;
  display: flex;
  border-top-left-radius: 2px 2px;
  border-top-right-radius: 2px 2px;
  border-bottom-right-radius: 2px 2px;
  border-bottom-left-radius: 2px 2px;
}

.functionsLeft{
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.functionsButtons{
  display: flex;
  align-items: center;
  border: none;
  background-color: white;
  margin: 1% 0% 1%;
  width: 100%

}

.functionsButtons span{
  margin-right: 1%;
  color: rgb(128, 128, 128);
}

.functionsRight{
  display: flex;
  justify-content: flex-end;
  width: 15%;
  color: rgb(128, 128, 128);
}



/* ------------- description --------------- */
.description {
  background-color: white;
  margin-top: 0.5%;
  padding: 15px 15px 5px 15px;
}

.description p{
  margin: 2% 0%;
}

/* ----------------------- Sidebar Section ----------------------------- */

.titleRecommended {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 15px 15px;
}

.upNext {
  font-size: 25px;

}

.recommendedVideos {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0px 0px 2% 0px;
  padding: 15px 15px 15px 5px;
  width: 40%;
}
.recommendedVideos hr {
  color: grey;
  width: 80%;
  margin: auto;
}

.image{
  height: 160px;
}

.title {
  font-size: 27px;
  font-weight: none;
}



.sidebarVideos {
  display: flex;
}

.sidebarVideos div{
  margin: 2%;
}

.showMore {
  text-align: center;
  color: rgb(128, 128, 128);
}

/* ----------------------- Footer ----------------------------- */

footer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px 45px;
}

.footerTop {
  display: flex;
  align-items: center;
  
}

.footerLogo {
  height: 40px;
}

.buttonWrapper {
  margin: 10px 25px;
  
}

.footerButton {
  white-space: nowrap;
  min-height: 30px;
  display: flex;
  margin: 2% 2%;
  padding: 0 10px;
  align-items: center;
  border-top-left-radius: 2px 2px;
  border-top-right-radius: 2px 2px;
  border-bottom-right-radius: 2px 2px;
  border-bottom-left-radius: 2px 2px;
  background-color: #F8F8F8;
  border: 1px solid rgb(211, 211, 211);

}

.footerButton span {
  color: rgb(124, 124, 124);
}

.footerMainLinks {
  margin: 1% 0%;
}

.footerMainLinks a{
  font-weight: 500;
  color: rgb(51, 51, 51); 
  margin: 1% 1%;
}



.footerSecondaryLinks a{
  margin: 1% 1%;
  color: rgb(102, 102, 102); 
  font-weight: 500;
}
