#navBar {
    width: 100%;
    margin: 0;
    padding: 7px 30px 8px 30px;
    background-color: white;
}
  
#navBar .navLogo img{
    height: 50px;
    
}

#navBar .navUploadImg img{
  height: 35px;
  
}

#navBar button {
  background-color: "#157AC6";
  color: white; 
}

#navBar  div {
    display: inline-block;
}

  
/* #navBar  li a {
    
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
#navBarli a:hover {
    background-color: #111;
  } */

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
footer  li {
    float: left;
  }
  
footer  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
footer a:hover {
    background-color: #111;
  }